.productList{
    flex: 4;
    padding: 20px;
}

.productListItem{
    display: flex;
    align-items: center;
}

.productListImg{
    width: 32px;
    height: 32px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 10px;
}

.productListEdit{
    cursor: pointer;
    color: green;
}

.productListDelete{
    cursor: pointer;
    color: red;
}